.products {
  display: grid;
  grid-gap: 1em;
  position: relative;
  padding: 1em;

  @include break(420px) {
    grid-template-columns: repeat(2, 1fr);
    padding: 2em;
  }

  .product {
    _width: 360px;
    padding: 1em;
    margin: 1em auto;
    background-color: #fff;
    box-shadow: 0 0 20px rgba($color-primary, 0);
    transition: all 300ms ease-in;
    border-bottom: 1px solid $color-primary;

    @include break($medium) {
      border-bottom: none;
    }

    &__info {
      width: 100%;
      height: 300px;
      position: relative;
      overflow: hidden;
      text-align: center;

      &__image {
        padding: 20px 0;
        transition: all 800ms ease-in;
        width: 100%;
        height: auto;
      }

      &__text {
        &__header {
          transition: all 400ms ease-in;
          position: absolute;
          width: 100%;
          bottom: 25px;

          h2 {
            font-size: 1.5em;
            color: #252525;
          }
        }

        &__size {
          transition: all 300ms ease-in;
          position: absolute;
          width: 100%;
          bottom: -20px;
          color: #000;
          opacity: 0;
        }
      }
    }

    &__detail {
      width: 100%;
      height: 60px;
      position: relative;
      overflow: hidden;

      &__bg {
        transition: all 800ms ease-in;
        width: 660px;
        height: 100%;
        background-color: $color-primary;
        position: absolute;
        left: -649px;

        &__inner {
          width: 50%;
          height: 100%;
          background-color: darken($color-primary, 15%);
        }
      }

      &__info {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        font-weight: 700;

        &__price {
          transition: all 600ms ease-in;
          transition-delay: 100ms;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          font-size: 16px;
          color: #252525;
        }

        &__text {
          transition: all 600ms ease-in;
          transition-delay: 100ms;
          position: absolute;
          top: 50%;
          left: 110%;
          transform: translate(-50%, -50%);
          letter-spacing: 2px;
          text-transform: uppercase;
          color: #fff;
          cursor: pointer;

          h3 {
            font-size: 18px;
          }
        }
      }
    }

    &:hover {
      box-shadow: 0 0 20px rgba($color-primary, 0.1);
    }

    &:hover .product__info__image {
      filter: blur(11px);
      opacity: 0.3;
    }

    &:hover .product__info__text__header {
      bottom: 155px;
    }

    &:hover .product__info__text__size {
      transition-delay: 300ms;
      bottom: 50px;
      opacity: 1;
    }

    &:hover .product__detail__bg {
      left: -20px;
    }

    &:hover .product__detail__info__price {
      left: 20px;
      transform: translateY(-50%);
      color: #fff;
    }

    &:hover .product__detail__info__text {
      left: 50%;
    }
  }
}

.product__all.hide,
.hide {
  display: none;
  transition: all 600ms ease-in;
}

.product__all.show {
  display: block;
  transition: all 600ms ease-in;
}
