$primary:  'Roboto', sans-serif;
$headings: 'PT Sans Caption', sans-serif;

$color-primary: #2cc8ce;
$color-secondary: #fff;
$color-triary: #8ec8ed;


$small: 320px;
$medium: 768px;
$large: 992px;
$xlarge: 1200px;  

